section.main {
    padding-bottom: 0;
    height: 672px;
    .main-container {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .title-description-buttons-container {
            width: 100%;
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
            gap: 20px;

            .title-description-container {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }

        .main-title {
            h1 {
                font-size: 70px;
            }
            h3 {
                font-size: 60px;
            }
        }

        .main-content {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            gap:20px;
    
            .buttons-container {
                display: flex;
                align-items: center;
                justify-content: start;
                flex-wrap: wrap;

                .hireme-btn, .cv-btn {
                    width: 250px;
                }
                .cv-btn {
                    background: transparent;
                    border: 2px solid var(--main-color);
                    border-radius: 4px;
                    svg, a {
                        color: var(--main-color) !important;
                    }
                    svg {
                        height: 20px;
                        width: 20px;
                    }
                }
            }
        }

        .social-media-container {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 20px;

            svg {
                height: 30px;
                width: 30px;
                color: white !important;
            }

            li {
                list-style: none;
                .bg__icon {
                    background: var(--main-color) !important;
                    border-radius: 100px;
                    padding: 8px;
                    transition: all .3s ease;
                }
            }
        }
        .image-container {
            position: absolute;
            right: 0;
            bottom: 0;
    
            img {
                height: 670px;
                width: 750px;
            }
        }
    }
}

/*----------------------MOBILE DEVICES----------------------*/
@media screen and (max-width: 768px) {
    section.main {
        .main-container {
            align-items: center;
            .title-description-buttons-container {
                align-items: center;
            }
    
            .main-title {
                h1 {
                    font-size: 40px !important;
                }
                h3 {
                    text-align: center;
                    font-size: 30px !important;
                }
            }

            .description {
                h5 {
                    font-size: 14px !important;
                }
            }

            .buttons-container {
                justify-content: center !important;
                gap: 5px;
            }

            .image-container {
                display: none;
            }
        }
    }
}
/*----------------------TABLET DEVICES----------------------*/
@media only screen and (max-width: 768px ) and (max-width:1023px) {
    section.main {
        .main-container {
            align-items: center;
            .title-description-buttons-container {
                align-items: center;
            }
    
            .main-title {
                h1 {
                    font-size: 50px;
                }
                h3 {
                    text-align: center;
                    font-size: 40px;
                }
            }
            .image-container {
                display: none;
            }
        }
    }
}
/*----------------------LAPTOP DEVICES----------------------*/
@media only screen and (max-width: 1024px ) and (max-width:1439px) {
    section.main {
        .main-container {
            align-items: center;
            .title-description-buttons-container {
                align-items: center;
            }
    
            .main-title {
                h1 {
                    text-align: center;
                    font-size: 70px;
                }
                h3 {
                    text-align: center;
                    font-size: 60px;
                }
            }
            .description {
                h5 {
                    text-align: center;
                }
            }
            .image-container {
                display: none;
            }
        }
    }
}
/*----------------------DESCKTOP DEVICES----------------------*/
@media only screen and (max-width: 1440px ) {
    section.main {
        .image-container {
            img {
                height: 650px !important;
                width: 700px !important;
            }
        }
    }
}