section.events {
    padding: 0;
    .video-container {
        width: 100%;
        .youtube-video {
            aspect-ratio: 16/9;
            box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.5);
            border-radius: 16px;
        }
    }
}

/*----------------------MOBILE DEVICES----------------------*/
@media screen and (max-width: 768px) {
}
/*----------------------TABLET DEVICES----------------------*/
@media only screen and (max-width: 768px ) and (max-width:1023px) {
}
/*----------------------LAPTOP DEVICES----------------------*/
@media only screen and (max-width: 1024px ) and (max-width:1439px) {
}
/*----------------------DESCKTOP DEVICES----------------------*/
@media only screen and (max-width: 1440px ) {
}