footer {
    background-color: var(--secondary-bg);
    width: 100%;
    height:fit-content;
    padding: 20px 0;

    .copyright-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
        p {
            color: white;
        }
    }
}
