footer {
    background-color: var(--secondary-bg);
    width: 100%;
    height:fit-content;
    padding: 20px 0;

    .copyright-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
        p {
            color: white;
        }
    }
}

/*----------------------MOBILE DEVICES----------------------*/
@media screen and (max-width: 768px) {
    footer {
        .copyright-container {
            p {
                text-align: center;
            }
        }
    }
}
/*----------------------TABLET DEVICES----------------------*/
@media only screen and (max-width: 768px ) and (max-width:1023px) {
}
/*----------------------LAPTOP DEVICES----------------------*/
@media only screen and (max-width: 1024px ) and (max-width:1439px) {
}
/*----------------------DESCKTOP DEVICES----------------------*/
@media only screen and (max-width: 1440px ) {
}